@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #282A37;
  touch-action: pan-x pan-y;
  height: 100%;
  color: #EDEDEE
}

@layer base {
  .responsive-w {
    @apply w-full sm:w-4/6 md:w-3/6 lg:w-2/6 xl:w-[27%] 2xl:w-[27%]
  }
}

@media (min-width: 1920px) {
  .responsive-w {
    width: 35vh;
  }
}
  

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #323645 inset !important;
}

.errorBorder {
  border-width: 2px;
  border-color: rgb(239 68 68);
  animation: horizontal-shaking 0.3s;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar div {
  zoom: 1;
}
